@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

:root {
    /* font-size */
    --fs-16: 16px;
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 24px;
    --fs-xl: 30px;
    --fs-2xl: 34px;
    --fs-3xl: 36px;
    --fs-4xl: 40px;
    --fs-5xl: 44px;
    --fs-6xl: 48px;
    --fs-7xl: 50px;
    --fs-8xl: 54px;
    --fs-9xl: 64px;
    /* color */
    --color-green: #D2DA60;
    --color-purple: #9003E5;
    --color-voilet: #8A3E74;
    --color-black: #000000;
    --color-btn-gradient: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%);
    --color-blue: #010080;
    --color-white: white;
    --color-gradient-2: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
}

.menu {
    position: fixed;
    background: var(--color-green);
    z-index: 10;
}

.navlink {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: var(--color-purple);
}

/* section1 */
.bgimg {
    background-image: url(../images/bg-img1.png);
    background-repeat: no-repeat;
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
}

.splash {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: var(--color-purple);
}


.txt {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-3xl);
    font-weight: 500;
    line-height: 54px;
    text-align: left;
    margin-top: 24px;
}

.box {
    border: 4px solid;
    border-image: var(--color-btn-gradient)1;
    width: 193px;
    height: 56px;
    background: #D7E167;
    font-family: Poppins;
    font-size: var(--fs-md);
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    background: var(--color-btn-gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 24px;
}

/* section-2 */
.heading {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-6xl);
    font-weight: 700;
    line-height: 72px;
    text-align: center;
}

.pt-115 {
    padding-top: 115px;
}

.faux {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

.mt-180 {
    margin-top: 180px;
}

.mt-80 {
    margin-top: 80px;
}

.postn1 {
    right: 0%;
    top: 5%;
}

.postn2 {
    bottom: -25%;
}

.line1 {
    height: 653px;
    position: absolute;
    border: 1px dashed black;
    left: 33%;
}

.line2 {
    height: 653px;
    position: absolute;
    border: 1px dashed black;
    right: 33%;
}

.line3 {
    width: 1308px;
    position: absolute;
    border: 1px dashed black;
    right: 0%;
    top: 65%;
}

/* section-3 */
.pt-200 {
    padding-top: 200px;
}

.black-box {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/layer1.png);
    top: -100%;
    /* left: 0%; */
}

.hoverimg:hover .black-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hoverimg:hover .top-35 {
    top: 50%;
}

.black-box {
    transition: all 0.5s linear;
}

.circle {
    width: 32.43px;
    height: 32.21px;
    background: #DCDCDC;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deco {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-3xl);
    font-weight: 500;
    line-height: 54px;
    text-align: left;
    color: var(--color-white);
    z-index: 1;
}

.paint {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: var(--color-white);
    z-index: 2;
}

.mt-24 {
    margin-top: 24px;
}

.border-gradient {
    border: 4px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-image: var(--color-btn-gradient)1;
    width: 416px;
    height: 269px;
    background: var(--color-btn-gradient);
    -webkit-background-clip: text;

}

/* section4 */

.sec4-txt {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: var(--color-black);
    margin-top: 24px;
}

.wel {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-6xl);
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: var(--color-black);
}

.pdca {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: var(--color-black);
}

.place {
    top: 0%;
    left: 0%;
}

.place2 {
    bottom: 0%;
    right: 0%;
}

/* section-5 */
.text-line {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: var(--color-black);
    max-width: 270px;
}

.holder {
    top: 120%;
    left: 2%;
    z-index: 1;
}

.holder2 {
    top: 337%;
    left: 18%;
    z-index: 1;
}

.holder3 {
    top: 120%;
    left: 32%;
    z-index: 1;
}

.holder4 {
    top: 337%;
    left: 48%;
    z-index: 1;
}

.holder5 {
    top: 120%;
    right: 27%;
    z-index: 1;
}

.holder6 {
    right: 10%;
    top: 337%;
    z-index: 1;
}
.holder7{
    right: 0%;
    top: 120%;
}

.stroke1 {
    top: 220%;
    left: 6%;
}

.stroke2 {
    left: 22%;
    top: 210%;
}

.stroke3 {
    top: 220%;
    left: 37%;
}

.stroke4 {
    top: 210%;
    right: 28%;
}

.stroke5 {
    top: 210%;
    right: 13%;
}

.stroke6 {
    right: 1%;
    top: 205%;
}